
#julif-logo, #banner_nombre, #banner_links a,.nav_socialinks a {   opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;}

  #julif-logo{animation-delay: 0.50s;}
  #banner_nombre{animation-delay: 1.00s;}

/* 
   #link1{animation-delay: 1.30s;}
   #link2{animation-delay: 1.60s;}
   #link3{animation-delay: 2.00s;} */

   /* .twitter-linkcontainer{animation-delay: 2.40s;}
.facebook-linkcontainer{animation-delay: 2.50s;}
.instagram-linkcontainer{animation-delay: 2.60s;}
.github-linkcontainer{animation-delay: 2.70s;} */

.twitter-linkcontainer{animation-delay: 1.30s;}
.facebook-linkcontainer{animation-delay: 1.60s;}
.instagram-linkcontainer{animation-delay: 1.90s;}
.github-linkcontainer{animation-delay: 2.10s;}





  @keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
